* {
  text-decoration: none;
  outline: none;
}

body {
  background: #333;
}

.aligner {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 10px;
}

.error {
  background: #ffac9d;
  color: #570000;
  padding: 20px;
}

.Head {
  background: #222;
  color: white;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.HeadLogo {
  display: flex;
  align-items: center;
  color: white;
}

.HeadContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Logo {
  max-width: 32px;
  margin-right: 10px;
}

.Navigation a {
  color: white;
  margin-left: 10px;
}

.Wrapper {
  max-width: 920px;
  margin: 10px auto;
  padding: 10px;
  background: white;
}

.Content {
  padding: 10px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  margin-top: 20px;
}

.ContentSearch {
  font-weight: bold;
  width: calc(100% - 24px);
  padding: 10px;
}

.ContentBoxCard {
  font-size: 14px;
  padding: 10px;
  border: 1px solid #CCC;
  margin-top: 10px;
}

.PostCard {
  margin-bottom: 10px;
  border: 1px solid #f1f1f1;
  padding: 10px;
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ModalBody {
  background: #fff;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,.5);
}